* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 450px;
    background: url(../images/bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    filter: grayscale(100);
}

.box::before,
.box::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100% 200%;
    transform: perspective(500px) rotate(0deg);
    transition: 1s;
}

.box::before {
    top: 0;
    transform-origin: top;
    background-position: 50% 0%;
}

.box::after {
    bottom: 0;
    transform-origin: bottom;
    background-position: 50% 100%;
}

.box:hover::before {
    transform: perspective(500px) rotateX(270deg);
}
.box:hover::after {
    transform: perspective(500px) rotateX(-270deg);
}
